<p>
    Dear {{ userName }}
</p>
<p>
We see you have created a new crowdfunding event. We will be evaluating the campaign for its completeness and ability to go viral. We will also plug the commercial arrangement at the backend for seamless transactions and calculations at your end. Most importantly we will be cross verifying the documents and appeal so as to have the faith of donors on the platform and your cause. Please watch out for the account area for confirmation.
</p>
<p>
    Best Regards,<br>
    Team Giving Circle
</p>