<p>
    Dear {{ userName }}
</p>
<p>
    Reminder ! Event {{ eventName }} is approaching and is on {{ date | date('d, M Y') }}, {{ time | date('h:i A') }}.
    These are the steps that help grow the cause. Thanks for sparing your time.
</p>
