<p>
    Dear {{ userName }}
</p>

<p>
    Your Event {{ eventName}} has been deactivated by the administration team of Giving Circle. Please find Reason {{ eventDeactivationMessage }}
</p>

<p>
    Please feel free to reach out to the team.
</p>
<p>
    Best Regards
</p>
<p>
    Team Giving Circle
</p>