<p>Hi {{ userFullName }},</p>

<p>We got a request to reset your password. Please click the link below to reset your password.</p>

<p><a href="{{ app.request.schemeAndHttpHost() }}/resetpassword/{{ validation_key }}">Password reset link</a></p>

<p>If you didn’t request a password reset, <a href="mailto:contact@givingcircle.in">please let us know</a>.</p>

<p>From</p>
<p>Giving Circle</p>