{% if currentIndex == -2 %}
    <ul class="steps">
        <li class="active">
            <span class="num"></span>
            Event Details
        </li>
    </ul>
{% elseif currentIndex == -1 %}
    <ul class="steps event-ul">
        <li class="active">
            <span class="num"></span>
            Event Details
        </li>
        <li class="event">
            <span class="num"></span>
            Event Resources
        </li>
        <li class="volunteer">
            <span class="num"></span>
            Volunteer
        </li>
        <li class="material">
            <span class="num"></span>
            Material
        </li>
        <li class="funds">
            <span class="num"></span>
            Funds
        </li>
    </ul>
{% else %}
    <ul class="steps event-resources">
        <li class="completed">
            <span class="num"></span>
            Event Details
        </li>
        {% if arrEventProductType is defined and arrEventProductType is not empty and 'volunteerintime' in arrEventProductType %}
            {% set keyId = -1 %}
            {% for key,value in arrEventProductType %}
                {% if value == 'volunteerintime' %}
                    {% set keyId = key %}
                {% endif %}
            {% endfor %}

            <li {% if strEventProductType is defined and strEventProductType is not empty and strEventProductType == 'volunteerintime'
            %} class="active"
                {% elseif keyId < currentIndex %}
                    class="completed"
                {% endif %} >
                <span class="num"></span>
                Volunteer
            </li>
        {% endif  %}

        {% if arrEventProductType is defined and arrEventProductType is not empty and 'materialinkind' in arrEventProductType %}
            {% set keyId = -1 %}
            {% for key,value in arrEventProductType %}
                {% if value == 'materialinkind' %}
                    {% set keyId = key %}
                {% endif %}
            {% endfor %}
            <li {% if strEventProductType is defined and strEventProductType is not empty and strEventProductType == 'materialinkind'
            %} class="active"
            {% elseif keyId < currentIndex %}
                class="completed"
            {% endif %} >
                <span class="num"></span>
                Material
            </li>
        {% endif  %}

        {% if arrEventProductType is defined and arrEventProductType is not empty and 'fundraiser' in arrEventProductType %}
            {% set keyId = -1 %}
            {% for key,value in arrEventProductType %}
                {% if value == 'fundraiser' %}
                    {% set keyId = key %}
                {% endif %}
            {% endfor %}
            <li {% if strEventProductType is defined and strEventProductType is not empty and strEventProductType == 'fundraiser'
            %} class="active" {% elseif keyId < currentIndex %}
                class="completed"
            {% endif %} >
                <span class="num"></span>
                Funds
            </li>
        {% endif  %}
    </ul>
{% endif %}