<div class="col-auto left-list">
    <ul>
        <li><a href="{{ path('event-details', {'id' : trnCircleEvents.id})
            }}" {% if active == 'event' %} class="active" {% endif %} ><i class="event-icon"></i> Event
                Details</a></li>
        {% for mstEventProductType in trnCircleEvents.mstEventProductType %}
            {% if expressDonate is defined and expressDonate is not empty and expressDonate == 1  %} {% else %}
                {%  if 'Volunteer' in  mstEventProductType.eventProductType %}
                    <li><a {% if active == 'volunteer' %} class="active" {% endif %} href="{{ path('volunteer-details',
                            {'id' : trnCircleEvents.id})}}"><span><i
                                        class="volunteer-icon"></i>
                                                Volunteer
                                                (Time)</span></a></li>
                {% endif %}
                {%  if 'Material' in  mstEventProductType.eventProductType %}
                    <li><a {% if active == 'material' %} class="active" {% endif %} href="{{ path('material-details',
                            {'id' : trnCircleEvents.id})
                        }}"><span><i class="material-icon"></i>
                                                Material</span></a></li>
                {% endif %}
            {% endif %}
            {%  if 'Fund' in  mstEventProductType.eventProductType %}
                <li><a {% if active == 'funds' %} class="active" {% endif %} href="{{ path('fund-details', {'id':
                        trnCircleEvents.id}) }}" ><span><i class="fund-icon"></i>
                                            Funds</span></a></li>
            {% endif %}
        {% endfor %}

    </ul>
</div>