<section class="banner-sec">
    <ul class="bullets">
        <li class="first active"><a href="#"></a></li>
        <li class="second"><a href="#start-project"></a></li>
    </ul>
    <div class="content">
        <h2 data-aos="fade-right" data-aos-delay="200">{{ pageContentCMS.pageTitle }}</h2>
        <h5 data-aos="fade-right" data-aos-delay="300">{{ pageContentCMS.cmsPageContent[0].pageContent|raw }}</h5>
        <p data-aos="fade-right" data-aos-delay="400">{{ pageContentCMS.cmsPageContent[1].pageContent|raw }}</p>
        <ul class="features">
            <li class="color1" data-aos="fade-right" data-aos-delay="200">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/event-name-icon.png" alt="Event Name"
                                 title="Event Name">
                        </span>
                    <span class="name">
                            Event Name
                        </span>
                </a>
            </li>
            <li class="color8" data-aos="fade-up" data-aos-delay="300">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/dates-icon.png" alt="Dates" title="Dates">
                        </span>
                    <span class="name">
                            Dates
                        </span>
                </a>
            </li>
            <li class="color3" data-aos="fade-right" data-aos-delay="400">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/type-icon.png" alt="Event Type" title="Event Type">
                        </span>
                    <span class="name">
                            Event Type
                        </span>
                </a>
            </li>
            <li class="color6" data-aos="fade-up" data-aos-delay="700">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/volunteer-icon.png" alt="Volunteer"
                                 title="Volunteer">
                        </span>
                    <span class="name">
                            Volunteer
                        </span>
                </a>
            </li>
            <li class="color4" data-aos="fade-up" data-aos-delay="500">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/interest-icon.png" alt="Interest" title="Interest">
                        </span>
                    <span class="name">
                            Interest
                        </span>
                </a>
            </li>
            <li class="color9" data-aos="fade-right" data-aos-delay="1000">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/material-icon.png" alt="Material" title="Material">
                        </span>
                    <span class="name">
                            Material
                        </span>
                </a>
            </li>
            <li class="color2" data-aos="fade-right" data-aos-delay="800">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/story-icon.png" alt="More Info" title="More Info">
                        </span>
                    <span class="name">
                            More Info
                        </span>
                </a>
            </li>
            <li class="color8" data-aos="fade-up" data-aos-delay="900">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/fundraiser-icon.png" alt="Fundraiser"
                                 title="Fundraiser">
                        </span>
                    <span class="name">
                            Fundraiser
                        </span>
                </a>
            </li>
            <li class="color5" data-aos="fade-right" data-aos-delay="600">
                <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/location-icon.png" alt="Location" title="Location">
                        </span>
                    <span class="name">
                            Location
                        </span>
                </a>
            </li>
        </ul>
        <a class="next-section-arrow bounce" href="#start-project"><i class="fc-down-arrow"></i></a>
    </div>
</section>
