<div class="btn-block text-right">
    {% set isMandatoryFilled = check_if_all_mandatory_filled() %}
    {% if isMandatoryFilled is defined and isMandatoryFilled is not empty and isMandatoryFilled == true %}
        <a href="{{ path('create-project') }}" class="btn btn-primary-o">Create Your Own Project</a>
        <a href="{{ path('contribute-to-a-change') }}" class="btn btn-primary-o">Contribute to a Change</a>
        <a href="{{ path('express-donate-listing') }}" class="btn btn-primary-o">Express Donate</a>
    {% else %}
        <a href="javascript:void(0);" class="btn btn-primary-o" onclick="alert('Please update the Personal Info mandatory fields inorder to proceed');">Create Your Own Project</a>
        <a href="javascript:void(0);" class="btn btn-primary-o" onclick="alert('Please update the Personal Info mandatory fields inorder to proceed');">Contribute to a Change</a>
        <a href="javascript:void(0);" class="btn btn-primary-o" onclick="alert('Please update the Personal Info mandatory fields inorder to proceed');">Express Donate</a>
    {% endif %}
</div>