<div class="left-section">
    <div class="card-image">
        <figure>
            <img src="{{ asset('images') }}/{{ circle.profileImagePath }}"
                 alt="">
        </figure>
    </div>
    <div class="text">
        {{ circle.circle}}
    </div>
</div>
<div class="right-section">
    <h2 class="modal-title" id="selectAreaLabel">Cannot Exist the project as the address is used as Collection
        Centre.</h2>
    <div class="text-center">
        <a href="javascript:void(0);" onclick="$('.btn-close').click()" class="btn btn-primary">Ok</a>
    </div>
</div>