<div class="tab-content">
    <h3>Projects</h3>
    <div class="empty-socail-profile aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
        <img src="/resources/images/my-account/icon-EmptyBox.png">
        <h5>There are currently no projects created in your profile!</h5>
        <p>We admire your strength, resolve and hard work in getting your community project off the ground.
            Now let Giving Circle help you take it a step further.
            Here is an easy-to-use framework that will help you scale up your projects, reduce manual work and make the process of getting volunteers and contributions hassle-free.
            Add a project to get started!</p>
        <ul class="feature-list">
            <li data-aos="fade-right" data-aos-delay="200">
                <span class="icn"><i class="fc-inspiration"></i></span>
                <span>When Inspiration Strikes!</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="300">
                <span class="icn"><i class="fc-spread"></i></span>
                <span>Spread The Word, Build Your Community</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="400">
                <span class="icn"><i class="fc-generate"></i></span>
                <span class="sm-width">Generate The Buzz</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="500" class="active">
                <span class="icn"><i class="fc-plan"></i></span>
                <span class="sm-width">Plan Your Activities</span>
            </li>
            <li data-aos="fade-right" data-aos-delay="600">
                <span class="icn"><i class="fc-share"></i></span>
                <span class="sm-width">Share Your Success Story</span>
            </li>
        </ul>
        <img src="/resources/images/my-account/projects.png">
    </div>
    {% set isMandatoryFilled = check_if_all_mandatory_filled() %}
    <div class="btn-sec mt-3 aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
        {% if isMandatoryFilled is defined and isMandatoryFilled is not empty and isMandatoryFilled == true %}
            <a href="{{ path('create-project') }}" class="btn btn-primary">Create Your Own Project</a>
            <a href="{{ path('contribute-to-a-change') }}" class="btn btn-primary">Contribute To A Change</a>
            <a href="{{ path('express-donate-listing') }}" class="btn btn-primary">Express Donate</a>
        {% else %}
            <a href="javascript:void(0);" class="btn btn-primary">Create Your Own Project</a>
            <a href="javascript:void(0);" class="btn btn-primary">Contribute To A Change</a>
            <a href="javascript:void(0);" class="btn btn-primary">Express Donate</a>
        {% endif %}
    </div>
</div>