<p>
Dear {{ userName }}
</p>
<p>
We are delighted to have your project on the platform for participation of larger audience that we will help reach out to.
    Your efforts in building a better world are now ours too. Kudos to you . Do share the project on social media too if you have not done as yet.
    Social Media is a cost effective means to reach a larger audience. If you do need additional support from our end to promote the project,
    please feel free to write to us at {{ gcContactEmail }}
</p>
<p>
    Best Regards,<br>
    Team Giving Circle
</p>