Dear {{ userEmail }}

<p>We are happy and so will you be. Your Giving Journey with {{ projectName}} starts. Your forthcoming contribution to changemaking
    will be highly valued. Click here to see if there is an ongoing event {{ projectLink }} where you want to participate Team Giving Circle.</p>

<p>Best Regards</p>
<p>Team Giving Circle</p>
<p>We invite you to follow our social media handles for more engagement {{ socialMediaWidget }}</p>