Dear {{ userEmail }}

<p>Your request to Join the {{ projectName}} has been rejected. We regret inconvenience.
    Please do explore other projects     where you would want to associate and GIVE your resources.
    Do subscribe here so that we can prompt you when new project or #changemakerstories are uploaded on the platform.</p>
<p>Team Giving Circle</p>
