<div class="modal fade gc-gallery-popup" id="gc-gallery-modal1" tabindex="-1" aria-labelledby="demoLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="btn-close" data-dismiss="modal" data-target="#gc-gallery-modal1"
                   aria-label="Close"></a>
                <div class="gallery-popup">
                    <h2 class="modal-title" id="demoLabel">Giving Circle Gallery</h2>
                    <p>42 Images Lorem Ipsum dummy text Ipsum dummy text Ipsum dummy text Ipsum dummy text Ipsum dummy
                        text Ipsum dummy text</p>
                    <form>
                        <div class="row row-sm">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="cust-select">
                                        <select id="primaryAI" class="form-control">
                                            <option>Interest Area</option>
                                            {% for id, areaInterest in areaInterests  %}
                                                <option value="{{ id }}"> {{ areaInterest }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="cust-select">
                                        <select id="secondaryAI" class="form-control" disabled>
                                            <option selected>Sub - Interest Area</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="gc-gallery-main">
                        <ul class="row">
                            {% for objTrnProductMedia in arrTrnProductMedia %}

                                <li>
                                    <img src="{{ objTrnProductMedia.uploadedFilePath|imagine_filter('resize_image_100') }}">
                                    <div class="hover-content">
                                    <span class=" icn" onclick="currentSlide(loop.index)" data-toggle="modal"
                                          data-target="#gc-gallery-modal2">
                                        <img src="/resources/images/common/create-project/image-icon1.png" alt="">
                                    </span>
                                        <a href="javascript:void(0);" class="add-image">
                                            <i class="fa fa-plus-square-o"></i>
                                            Add Image
                                        </a>
                                        <h6 onclick="currentSlide(loop.index)" data-toggle="modal"
                                            data-target="#gc-gallery-modal2">
                                            Image Name Lorem Ipsum
                                        </h6>
                                        <span class="zoom-icon" onclick="currentSlide(1)" data-toggle="modal"
                                              data-target="#gc-gallery-modal2"><i class="fa fa-search-plus"></i></span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade gc-gallery-popup" id="gc-gallery-modal2" tabindex="-1" aria-labelledby="demoLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="btn-close" data-dismiss="modal" data-target="#gc-gallery-modal2"
                   aria-label="Close"></a>
                <div class="gallery-popup">
                    <h2 class="modal-title" id="demoLabel">Giving Circle Gallery</h2>
                    <div class="btn-block">
                        <a href="create-your-own-project-gallery-preview.shtml"
                           class="btn btn-add-image btn-primary">Add Image</a>
                    </div>
                    <!-- The Modal/Lightbox -->
                    <div>
                        <div class="mySlides">
                            <figure>
                                <img class="thumb" src="/resources/images/common/create-project/gallery-big-img1.jpg"
                                     alt="Image Name Lorem Ipsum">
                            </figure>
                            <div class="caption">
                                <span class="icn"><img src="/resources/images/common/create-project/image-icon1.png"
                                                       alt=""></span>
                                <span class="txt">
                                    Image Name Lorem Ipsum
                                </span>
                            </div>
                        </div>

                        <div class="mySlides">
                            <figure>
                                <img class="thumb" src="/resources/images/common/create-project/gallery-big-img2.jpg"
                                     alt="Image Name Lorem Ipsum">
                            </figure>
                            <div class="caption">
                                <span class="icn"><img src="/resources/images/common/create-project/image-icon2.png"
                                                       alt=""></span>
                                <span class="txt">
                                    Image Name Lorem Ipsum
                                </span>
                            </div>
                        </div>

                        <div class="mySlides">
                            <figure>
                                <img class="thumb" src="/resources/images/common/create-project/gallery-big-img1.jpg"
                                     alt="Image Name Lorem Ipsum">
                            </figure>
                            <div class="caption">
                                <span class="icn"><img src="/resources/images/common/create-project/image-icon1.png"
                                                       alt=""></span>
                                <span class="txt">
                                    Image Name Lorem Ipsum
                                </span>
                            </div>
                        </div>

                        <div class="mySlides">
                            <figure>
                                <img class="thumb" src="/resources/images/common/create-project/gallery-big-img2.jpg"
                                     alt="Image Name Lorem Ipsum">
                            </figure>
                            <div class="caption">
                                <span class="icn"><img src="/resources/images/common/create-project/image-icon2.png"
                                                       alt=""></span>
                                <span class="txt">
                                    Image Name Lorem Ipsum
                                </span>
                            </div>
                        </div>

                        <!-- Next/previous controls -->
                        <a class="prev" onclick="plusSlides(-1)"><img
                                    src="/resources/images/common/create-project/prev-arrow.png" alt="Previous"></a>
                        <a class="next" onclick="plusSlides(1)"><img
                                    src="/resources/images/common/create-project/next-arrow.png" alt="Next"></a>

                        <!-- Caption text -->
                        <div class="btn-block-bottom">
                            <a href="create-your-own-project-gallery-preview.shtml"
                               class="btn btn-add-image btn-primary">Add Image</a>
                            <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close">X Close</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        var arrPrimaryAISecAIMap = {{ arrPrimaryAISecAIMap |json_encode|raw }};
    </script>
{% endblock %}