<div class="empty-socail-profile aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
    <img src="/resources/images/my-account/icon-EmptyBox.png">
    <h5>There are currently no events created in your profile!</h5>
    <p>Add an event to boost volunteers or funds for your cause.</p>
    <ul class="feature-list">
        <li data-aos="fade-right" data-aos-delay="200" class="completed">
            <span class="icn"><i class="fc-inspiration"></i></span>
            <span>When Inspiration Strikes!</span>
        </li>
        <li data-aos="fade-right" data-aos-delay="300" class="completed">
            <span class="icn"><i class="fc-spread"></i></span>
            <span>Spread The Word, Build Your Community</span>
        </li>
        <li data-aos="fade-right" data-aos-delay="400" class="completed">
            <span class="icn"><i class="fc-generate"></i></span>
            <span class="sm-width">Generate The Buzz</span>
        </li>
        <li data-aos="fade-right" data-aos-delay="500" class="active">
            <span class="icn"><i class="fc-plan"></i></span>
            <span class="sm-width">Plan Your Activities</span>
        </li>
        <li data-aos="fade-right" data-aos-delay="600">
            <span class="icn"><i class="fc-share"></i></span>
            <span class="sm-width">Share Your Success Story</span>
        </li>
    </ul>
    <img src="/resources/images/my-account/events.png">
</div>