{% extends 'portal/layout/index.html.twig' %}
{% block portal_content %}


    <div class="wrapper">
        <section>
            <div class="container">

                <div class="row" align="center">
                    {{ message }}
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </section>
    </div>
{% endblock %}
