<p>
    Dear {{ userName }}
</p>
<p>
    Giving Circle is a platform that connects Community Service Change makers in scaling up their initiative through
    the technology and marketing support. Read here to understand the work at Giving Circle (link to website) Our
    change maker {{ changeMakerName | capitalize }}  has invited to join him in his mission {{ projectName |
    capitalize }}. We request you to understand the project details here. Once you become a member, you will be automatically notofied on the ongoing events which can decide to participate in. Its non intrusive and not mandatory to join the events. However if the thrust area is of your interest, we encourage you participate and feel gratified. Click here to understand the Project.
</p>
<p>
    Best Regards
</p>
<p>
    Team Giving Circle
</p>