<p>
    Dear {{ userName }}
</p>

<p>
    We thank you for your interest in being a part of the Giving Circle Community. The world of Giving is extremely gratifying but experiential eventually. We urge you to read, act and expereince the pleasures associated with Giving.
</p>
<p>
    Best Regards
</p>

<p>
    Team Giving Circle
</p>

