<p>Dear {{ userName }}</p>
<p>
    We find that you have made a contribution to the Project {{ projectName }}. 80G certificate is applicable for the
    same which has been attached for your records. We value your contribution.
</p>
<p>
    Best Regards
    <br/>
    Team Giving Circle
</p>