<p>Dear {{ userName }}</p>

<p>
    Your monetary support of {{ amount |number_format(2, '.', ',') }} has been received for the cause {{ projectName }} and the
    current need.
</p>
<p>
    Best Regards
    <br/>
    Team Giving Circle
</p>