<ul class="bullets">
    <li class="first active"><a href="#"></a></li>
    <li class="second"><a href="#start-project"></a></li>
</ul>
<div class="content">
    <h2 data-aos="fade-right" data-aos-delay="200">{{ pageContentHeader.pageName }}</h2>
    {# Content Start from Cms  #}
    <h5 data-aos="fade-right" data-aos-delay="300">{{ pageContentHeader.cmsPageContent[0].pageContent|raw }}</h5>
    <p data-aos="fade-right" data-aos-delay="400">{{ pageContentHeader.cmsPageContent[1].pageContent|raw }}</p>
    {# Content End from Cms  #}
    <ul class="features">
        <li class="color1" data-aos="fade-right" data-aos-delay="200">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/name-icon.png" alt="Project Name" title="Project Name">
                        </span>
                <span class="name">
                            Project Name
                        </span>
            </a>
        </li>
        <li class="color2" data-aos="fade-up" data-aos-delay="300">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/story-icon.png" alt="Story" title="Story">
                        </span>
                <span class="name">
                            Story
                        </span>
            </a>
        </li>
        <li class="color3" data-aos="fade-right" data-aos-delay="400">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/type-icon.png" alt="Project Type" title="Project Type">
                        </span>
                <span class="name">
                            Project Type
                        </span>
            </a>
        </li>
        <li class="color4" data-aos="fade-up" data-aos-delay="500">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/interest-icon.png" alt="Interest" title="Interest">
                        </span>
                <span class="name">
                            Interest
                        </span>
            </a>
        </li>
        <li class="color5" data-aos="fade-right" data-aos-delay="600">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/location-icon.png" alt="Location" title="Location">
                        </span>
                <span class="name">
                            Location
                        </span>
            </a>
        </li>
        <li class="color6" data-aos="fade-up" data-aos-delay="700">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/gallery-icon.png" alt="Gallery" title="Gallery">
                        </span>
                <span class="name">
                            Gallery
                        </span>
            </a>
        </li>
        <li class="color7" data-aos="fade-right" data-aos-delay="800">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/about-icon.png" alt="About" title="About">
                        </span>
                <span class="name">
                            About
                        </span>
            </a>
        </li>
        <li class="color8" data-aos="fade-up" data-aos-delay="900">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/keywords-icon.png" alt="Keywords" title="Keywords">
                        </span>
                <span class="name">
                            Keywords
                        </span>
            </a>
        </li>
        <li class="color9" data-aos="fade-right" data-aos-delay="1000">
            <a href="#">
                        <span class="icon">
                            <img src="/resources/images/common/icons/goal-icon.png" alt="Goal" title="Goal">
                        </span>
                <span class="name">
                            Goal
                        </span>
            </a>
        </li>
    </ul>
    <a class="next-section-arrow bounce" href="#start-project"><i class="fc-down-arrow"></i></a>
</div>