<div class="modal fade" id="demoModal" tabindex="-1" aria-labelledby="demoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <a href="#" class="btn-close" data-dismiss="modal" aria-label="Close"></a>
                <div class="right-section demo">
                    <h2 class="modal-title" id="demoLabel">Event Demo</h2>
                    <div class="demo-container">
                        <div class="demo-overlay">
                            <div class="left-demo">
                                <div class="text1">
                                    Project Background Pic
                                </div>
                                <div class="text2">
                                    Project Profile Pic
                                </div>
                                <div class="text3">
                                    About Me
                                </div>
                                <div class="text4">
                                    Goal & Plans
                                </div>
                                <div class="text5">
                                    Additional Information
                                </div>
                                <div class="text6">
                                    Project Gallery
                                </div>
                                <div class="text7">
                                    YouTube Video
                                </div>
                            </div>
                            <div class="right-demo">
                                <div class="text8">
                                    Project Name
                                </div>
                                <div class="text9">
                                    Interest Area
                                </div>
                                <div class="text10">
                                    Location
                                </div>
                            </div>
                        </div>
                        <img src="/resources/images/common/create-project/demo-popup-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>